.button {
	background-color: white;
	color: var(--wp--preset--color--primary);

	border-radius: var(--wp--custom--border--radius--m);
	border: 1px solid var(--wp--preset--color--primary);

	padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--40);

	font-size: var(--wp--preset--font-size--l);
	font-weight: 500;
	font-family: var(--wp--preset--font-family--default);

	width: fit-content;

	text-transform: uppercase;
	text-decoration: none!important;

	transition: all .25s;

	display: flex;
	align-items: baseline;

	line-height: 150%;
}

.button:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.button-menu-open {
	padding-right: var(--wp--preset--spacing--20)
}

.button-menu-open::after {
	content: '';
	aspect-ratio: 1;
	margin-left: var(--wp--preset--spacing--10);
	height: var(--wp--preset--font-size--l);
	display: block;
	position: relative;
	top: .15rem;

	background-color: currentColor;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWVsbGlwc2lzLXZlcnRpY2FsIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSI1IiByPSIxIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxOSIgcj0iMSIvPjwvc3ZnPg==);

	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWVsbGlwc2lzLXZlcnRpY2FsIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSI1IiByPSIxIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxOSIgcj0iMSIvPjwvc3ZnPg==);
}

.button-menu-close { margin-top: var(--wp--preset--spacing--60) }